table#product_comparison {
	width:100%;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
        margin-bottom: 30px;
}
#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison td {
	padding:6px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	vertical-align:top
}

#product_comparison td.td_empty{
	border:none;
	background:#fff;
}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {background:#f8f8f8}

#product_comparison .product_image {
	display:block;
	text-align:center
}
#product_comparison .s_title_block a{
	margin-bottom:10px;
	color:#000;
	font-weight:bold;
	padding-bottom: 0;
}
#product_comparison .product_desc a{
	padding-bottom:5px;
	height:40px;
	color:#666;
}

#product_comparison .price {
	font-weight:bold;
	font-size:14px;
	color:#990000
}
.discount {
   display:inline-block;
   padding:1px 5px;
   font-size:10px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
	background:#9B0000
}

.comparison_availability_statut {display:none}

#product_comparison .cmp_remove {
    float: right;
}

#product_comparison .product_image {
    margin-bottom: 20px;
}

#product_comparison tr:hover td,
#product_comparison tr:hover th {
    background: transparent;
}

.ajax_add_to_cart_button span {
   display: none;
   position: absolute;
   top: -1px;
   height: 26px;
   left: -12px;
   width: 26px;
	background: url(../../img/icon/pict_add_cart.png) no-repeat 0 0 transparent
}

#product_comparison .product_discount{
    float: left;
    margin: 0 10px;
}

#product_comparison .prices_container .price_container {
    float:left;
}
#product_comparison .prices_container{
    margin-bottom: 15px;
}


#product_comparison .comparison_product_infos{
    margin-top:20px;
}