@font-face {
	font-family: 'Arapey-Italic';
	src: url(../fonts/Arapey-Italic.ttf) format("truetype");
}

@font-face {
	font-family: 'Arapey-Regular';
	src: url(../fonts/Arapey-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Basic-Regular';
	src: url(../fonts/Basic-Regular.ttf) format("truetype");
}

/* ===== HOME ===== */

ul li, .nav-tabs > li > a {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#header_bsk_permlinks .sf-contener.clearfix,
#navSecondary #header_nav { display:none; }

#shopping_cart a { height: 50px; }
#header_nav > li { margin: 0px 10px; }
#header_bsk_permlinks { font-size: 16px;float: right; }
#permanent_links { display: inline-block;float: none;padding-top: 22px;margin-left: 10px; }
#permanent_links .contact { height: auto;border: 0px;padding-right: 0px; }
#permanent_links .contact a, #header_user_info a {
	border-right: 2px solid #000;padding-right: 10px;padding-top: 27px; }

#header_user_info {
	float: left;
	max-height: auto;
	color: #000;
	margin: 2px 0 0 15px;
	font-family: 'Basic-Regular';
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
}
#header_user_info a { height: auto;max-height: initial;line-height: 12px; }

#setCurrency .currency_top_wrapper,
#countries .language_top_wrapper
	{ font-size: 16px; }

/*#navSecondary .container, #columns.container {
	display: inline-block;
	width: 99%;
	text-align: left;
	margin-left: 0.5%;
} ==> full page*/
.icemenu { text-align: center; }

#sloganbox { max-width: 99%; }

hr.left, hr.right { border-top: 2px dotted #000; }

/* Top Menu */
#navTop {
	width: 100%;
	height: 58px;
	background-color: #FFF;
}



/* ===== Product ===== */

.frame_wrap.frame_wrap_prodImg.clearfix.thumbs_right.thumbs_side { position: relative;overflow: hidden; }
#product_left .thumbs_right #image-block { float: none; }

#product_left .thumbs_right #views_block { float: none; }
#product_left .thumbs_side #thumbs_list_frame { position: initial; }
#product_left .thumbs_side #thumbs_list_frame li { display: inline-block; }
#thumbs_list .caroufredsel_wrapper {
	min-width: 500px;width: 500px;max-width: 500px;
	min-height: 100px;height: 100px;max-height: 100px;
}
#product_left > div:nth-of-type(2) { display: none; }



#product_footer { margin-top: 0px; }

#productscategory.frame_wrap.frame_wrap_content.clearfix {
	position: relative;
	background-color: #EDEDED;
	border: 0px;
	margin-top: 60px;
}

#productscategory .caroufredsel_wrapper { max-width: 1060px; }
#productscategory .caroufredsel_wrapper,
#productscategory_list,
#productscategory_list li
	{ height: 180px; }

#pcrp_prev { position:absolute;top:90px;left:5px; }
#pcrp_next { position:absolute;top:90px;right:5px; }
.lnk_img > img { width: 100%; }