#productscategory{
    overflow: hidden;
}

#productscategory_list{
    margin-left: 30px;
    padding: 0;
}

#productscategory_list li{
    list-style: none;
    display: block;
    float: left;
    margin-right: 20px;
    width: 135px;
    height: 273px;
}

#productscategory_list li a{
    display: block;
    width: 135px;
    height: 273px;
    color: #444;
}

#productscategory_list .product_name{
    text-align: center;
    margin: 10px 0;
}
#productscategory_list .price_display{
    text-align: center;
    margin-bottom: 10px;
    color: #ff4848;
}